
# PlanAhead Generated physical constraints 

NET "A" LOC = P41;
NET "B" LOC = P40;
NET "C" LOC = P35;
NET "D" LOC = P34;
NET "F" LOC = P29;
NET "G" LOC = P27;
NET "E" LOC = P32;
NET "Enter" LOC = P45;
NET "BuzzerReal" LOC = P83;
NET "comm2" LOC = P44;
NET "comm4" LOC = P43;
NET "LED" LOC = P82;
NET "LedSetpass" LOC = P81;
NET "LedPasstrue" LOC = P80;
NET "Lock" LOC = P47;
NET "Mode" LOC = P46;
NET "OSC123" LOC = P123;
NET "SW1" LOC = P66;
NET "SW2" LOC = P62;
NET "SW3" LOC = P61;
NET "SW4" LOC = P59;
NET "SW5" LOC = P58;
NET "SW6" LOC = P57;
NET "SW7" LOC = P56;
NET "SW8" LOC = P55;
NET "Unlock" LOC = P23;
